*{
    background-color: rgb(137, 189, 234);
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}

header{
    display: flex;
    padding: 1% 1% 1% 3%;
}

.index{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
}

a{
    margin: 0px 5%;


}

section{
    display: flex;
    justify-content: center;



}




.page1{
    width: 50vh;
    height: 100vh;
    background-color:black;

    
}

.page1Title{
    text-align: center;
    background-color: rgb(73, 73, 73);
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: large;


}

.page1Content{
    background-color: inherit;
    margin: 40px 10px;

}

.p1c1c1{
    background-color: rgb(11, 151, 237);
    margin: 0px 0px 10px 10px;
    border-radius: 10px 10px 0px 10px;
    display: flex;
    justify-content: end;

}

p{
    color: white;
    background-color: transparent;
    padding: 10px 10px;


}

.p1c1c2{
    background-color: rgb(124, 124, 124);
    border-radius: 10px 10px 10px 0px;
    margin: 0px 10px 10px 0px;


}



.page2{
    width: 100%;
    height: 100vh;
 
    display: flex;
    justify-content: center;


}

.p2c1{
    width: 50vh;
    height: 100%;
    background-color: rgb(73, 73, 73);

    display: flex;
    justify-content: center;
    align-items: center;

}

.p2c1b1{
    width: 80%;
    height: 80%;
    background-color: rgb(50, 50, 50);

    display: flex;
    justify-content: center;
    align-items: center;
   
    padding: 10%;
    border: 10px solid rgb(28, 28, 28);

}

h1{
    background-color: transparent;
    color: white;

}



.p3s{

    width: 100%;
    height: 100vh;

}
.p3s1c1{
    width: 50vh;
    height: 80vh;
    background-color:antiquewhite;

    

}

.p3c1p1{
    width: 100%;
    height: 65%;
    background-color: transparent;


}

.p3c1p2{
    width: 100%;
    height: 35%;
    background-color: aquamarine;

    border-radius: 10% 10% 0 0;
    
    padding: 5%


}

.p3t1{
    color:rgb(101, 78, 78)


}


.p3t2{

    color:rgb(101, 78, 78);
    padding: 1% 0%;
    margin: 1% 0%;

}

.p3b1{
    background-color: white;

    padding: 4% 8%;
    border: none;

    border-radius: 5px;
    margin: 2% 0%;

}


.p4s1{
    width: 100%;
    height: 80vh;
    

}

.p4c1{
    width: 50vh;
    height: 100%;
    background-color: aqua;


}

.p4c1c1{
    width: 100%;
    height: 65%;
    background-color: transparent;


}

.p4c1c2{
    height: 35%;
    background-color: azure;
    border-radius: 10% 10% 0 0;

}

.p4t1{
    color: purple;
    background-color: transparent;
    padding: 3% 3% 0 3%;

}

.p4t2{
    color: black;
    

}

.p4c1d{
    display: flex;
    justify-content: space-around;
    background-color: transparent;


}
.p4b{
    padding: 3% 6%;
    border: gray solid 1px;
    border-radius: 10%;

    background-color: transparent;

}

.p4b2{
    background-color: purple;
    color: white;

}

.p5s{
    height: 100vh;
    background-color: aliceblue;
}

.p5c1{
    width: 50vh;
    height: 100%;
    background-color: rgb(216, 181, 135);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.p5c1c1{
    width: 80%;
    height: 25%;
    background-color: rgb(30, 29, 29);

    padding: 5%;
    border-radius: 10%;

}


.p5t1{
    background-color: transparent;
    color: white;
    margin-bottom: 4%;

}

.p5t2{
    padding: 0;
    margin-bottom: 10%;
    font-size:small;

}

.p5t3{
    background-color: transparent;
    color: white;
    font-family:'Courier New', Courier, monospace;



}


.p5b1{
    background-color: white;
    margin: 10%;
    padding: 4% 8%;
    border: none;
    border-radius: 15%;


}

